<header id="header">
    <div class="logo">
        <p>D</p> ann <p>y</p>
    </div>
    <nav>
        <ul>
            <li><a href="#about_me">About me</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
        </ul>
    </nav>
    <div (click)="toggleMenu()" class="mobile_menu_button">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div *ngIf="showMenu" class="mobile_menu">
        <a (click)="closeMenu()" href="#about_me">About me</a>
        <a (click)="closeMenu()" href="#skills">Skills</a>
        <a (click)="closeMenu()" href="#portfolio">Portfolio</a>
        <a (click)="closeMenu()" href="#contact">Contact</a>
    </div>
</header>