<header id="header">
    <div class="logo">
        <p>D</p> ann <p>y</p>
    </div>
    <nav>
        <ul>
            <li><a href="#about_me">About me</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
        </ul>
    </nav>
    <div class="mobile_menu_button">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="mobile_menu">
        <div><a href="">About me</a></div>
        <div><a href="">My skills</a></div>
        <div><a href="">Portfolio</a></div>
        <div><a href="">Contact</a></div>
    </div>
</header>