
<section *ngIf="imprintactive" class="imprint">
    <h1>Impressum</h1>
    <div>
        <p>Danny Kaschub</p>
        <p>Weinholdstraße 55</p>
        <p>08468 Reichenbach/Vogt</p>
    </div>
    
    <div>
        <p>Vertretungsberechtigte Gesellschafter: Danny Kaschub</p>
        <p>Telefon: +49 173 3041649</p>
        <p>Email: dannykaschub98@gmail.com</p>
    </div>
</section>


<div class="footer">
    <div class="footer_container">
        <div class="name"> 
            <p>D</p><p>ann</p><p>y</p>
        </div>
        <div class="copyright">© Danny Kaschub 2023</div>
        <div class="icons">
            <a href="https://github.com/DannyKaschub" target="_blank" ><img src="assets/img/icons/git.png" alt=""></a>
            <a href="" target="_blank" ><img src="assets/img/icons/mail.png" alt=""></a>
            <a href="https://www.linkedin.com/in/danny-kaschub-8877bb261/" target="_blank" ><img src="assets/img/icons/linkin.png" alt=""></a>
        </div>
    </div>

    <div (click)="toggleImprint()" class="impressum">
        <span>Impressum</span>
    </div>
</div>