<section>
    <img class="colorshader" src="../assets/img/colorShadows/greenPurpleShadow.png" alt="">
    <img class="hero" src="../assets/img/Danny_gros.png" alt="">
    <img class="cut" src="../assets/img/Vector.png" alt="">

    <div class="main_Text">
        <div class="text_container">
            <span>I am</span>
            <div>
                <h1>Danny Kaschub</h1>
                <h3>Frontend Developer</h3>
            </div>
        </div>
        <div class="talk_button">
            <a href="">Lets Talk</a>
        </div>
    </div>

    <div class="links">
        <div class="color_Line"></div>
        <a href=""><img src="../assets/img/icons/git.png" alt=""></a>
        <a href=""><img src="../assets/img/icons/linkin.png" alt=""></a>
        <a href=""><img src="../assets/img/icons/mail.png" alt=""></a>
    </div>

    <div class="scroll_down">
        <span>Scroll down</span>
        <img src="../assets/img/icons/arrow.png" alt="">
    </div>
</section>
