<div class="headline">
    <div class="colorline"></div>
    <h1>Contact</h1>
</div>

<div class="content">
    <div class="text_container">
        <h2>Got a problem to solve?</h2>
        <div class="span_container"><span>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</span></div>
        <div class="span_container"><span>Need a Frontend developer? Contact me!</span></div>
    </div>

    <div class="form_container">
        <form action="">
            <input type="text" name="name" id="name" placeholder="Your name">
            <span class="error-msg-name">Your name is required</span>
            <input type="email" name="email" id="email" placeholder="Your E-Mail">
            <span class="error-msg-email">Your E-Mail is required</span>
            <textarea name="message" id="message" placeholder="Your Message"></textarea>
            <span class="error-msg-message">Your Message is empty</span>
            <button>Send message :)</button>
        </form>
    </div>
</div>

<div class="arrow_up">
    <img src="assets/img/icons/Arrow_up.png" alt="">
</div>


