<div class="headline" id="contact">
    <div class="colorline"></div>
    <h1>Contact</h1>
</div>

<div class="content">
    <div class="text_container">
        <h2>Got a problem to solve?</h2>
        <div class="span_container"><span>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</span></div>
        <div class="span_container"><span>Need a Frontend developer? Contact me!</span></div>
    </div>

    <div class="form_container">
        <form action="https://Danny-Kaschub.de/mail.php" method="post">
            <input required type="text" name="name" id="name" placeholder="Your name">
            <input required type="email" name="email" id="email" placeholder="Your E-Mail">
            <textarea required name="message" id="message" placeholder="Your Message"></textarea>
            <button type="submit">Send message :)</button>
        </form>
    </div>
</div>

<div class="arrow_up">
    <a href="#header"><img src="assets/img/icons/Arrow_up.png" alt=""></a>
    
</div>


